<section id="about">
    <div id="znalosti">
        <h3>Znalosti a dovednosti</h3>
        <div>
            <div class="block skills">
                <div class="skill"><!--h4>Programování</h4--></div>
                <div><p>Node.js</p> <p>C#</p> <p>PHP</p></div>
                <div><p>AngularJS</p> <p>jQuery</p> <p>PixiJS</p> <p>HTML5</p> <p>CSS3</p></div>
                <div><p>Linux</p> <p>MS Windows</p></div>
                <div><p>MongoDB</p> <p>MSSQL</p></div>
            </div>
            <div class="block lang">
                <div class="skill"><h4>Znalost cizích jazyků</h4></div>
                <div ng-repeat="x in language"><p>{{x.name}} - {{x.text}}</p></div>
            </div>
        </div>
    </div>
    <div id="osobni">
        <div id="osobni-info">
            <h3>Kontaktní údaje</h3>
            <div id="table-img">
                <table class="table">
                    <tr>
                        <td>Město: </td>
                        <td>Praha</td>
                    </tr>
                    <tr>
                        <td>Tel. číslo:</td>
                        <td>+420 773 943 165</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>yuliya@yuliya.cz</td>
                    </tr>
                    <tr>
                        <td>Web:</td>
                        <td><a href="http://yuliya.cz">yuliya.cz</a></td>
                    </tr>
                </table>
                <div><img src="photos/me.png" alt="My photo"></div>
            </div>
        </div>
        <div id="osobni-educ">
            <div>
                <h3>Vzdělání</h3>
                <div>
                    <h4>Vysoká škola finanční a správní &nbsp;&nbsp; 2012-2016</h4>
                    <p>Fakulta ekonomických studií</p>
                    <p>Obor: Aplikovaná informatika</p>
                    <p>Bakalářská práce: Návrh a tvorba webové aplikace pro veganskou restauraci
                        <button type="button" class="btn btn-default" ng-click="myhref('http://yuliya.cz/bp.pdf')">PDF</button>
                    </p>
                </div>
                <!--div>
                    <h4>České vysoké učení technické v Praze &nbsp;&nbsp; 2011-2012</h4>
                    <p>Fakulta informačních technologií</p>
                </div-->
                <div>
                    <h4>Pražské vzdělávací středisko &nbsp;&nbsp; 2010-2011</h4>
                    <p>Roční kurz češtiny pro cizince</p>
                </div>
            </div>
        </div>
    </div>
</section>