<section id="home">
    <div>
        <div id="canvas">
            <div id="veganrest">
                <div class="imgproject" ng-click="myhref('http://vegan-restaurant.herokuapp.com/')"></div>
                <div class="textproject">
                    <h5><b>Bakalářská práce</b></h5>
                    Aplikace je realizovaná v jazyce Javascript na základě SPA architektury s použitím Javascriptového frameworku AngularJS. Na straně serveru byli používáné NodeJS a MongoDB databáze.
                </div>
            </div>
            <div id="crabgame">
                <div class="imgproject" ng-click="myhref('http://yuliya.cz/crabgame/')"></div>
                <div class="textproject">
                    <h5><b>Crab-game</b></h5>
                    Jednoduchá hra, která byla vytvořená za použití Javascriptové knihovny k vykreslování 2D grafiky PixiJS.
                </div>
            </div>
        </div>
    </div>
</section>