<section id="home">
    <div>
        <div id="canvas">
            <div id="veganrest">
                <div class="imgproject" ng-click="myhref('http://vegan-restaurant.herokuapp.com/')"></div>
                <div class="textproject">
                    Vegan restaurant
                </div>
            </div>
            <div id="crabgame">
                <div class="imgproject" ng-click="myhref('http://yuliya.cz/crabgame/')"></div>
                <div class="textproject">
                    Crab game
                </div>
            </div>
        </div>
    </div>
</section>