body {
    background: rgba(245, 242, 227, 0.41);
}
footer {
    background-color: #453b35;
    box-shadow: 1px 1px 5px 3px #453b35;
    font-family: Lobster;
}
header {
    background-image: url("photos/light_noise_68.png");
    font-family: Lobster;
    box-shadow: 0px 0px 10px 1px rgba(69, 59, 53, 0.61);
    /*border: 50px solid transparent;
    -webkit-border-image: url("photos/curve.png") 50 stretch;
    -o-border-image: url("photos/curve.png") 60 stretch;
    border-image: url("photos/curve.png") 50 stretch;
    border-bottom: 2px solid green;*/
}
.header-me * {
    text-align: center;
    color: #453b35;
    font-style: oblique;
}
header {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}
.navbar.navbar-default {
    border-radius: 0;
    border: none;
    background-color: transparent;
}
.navbar-right {
    display: inline-block;
    margin-left: 170px;
    font-size: 17px;
}
header > nav {
    margin-right: 100px;
}
.header-me {
    padding-top: 13px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-around;
}
#name {
    font-size: 50px !important;
    display: table;
    height: 190px;
}
#name > p {
    display: table-cell;
    vertical-align: middle;
}
#myPhoto {
    width: 290px;
    /*todo remove height*/
    margin-top: -50px;
    margin-bottom: 17px;
    border-radius: 300px;
    border: 3px solid #453b35;
    box-shadow: 1px 1px 20px 1px rgba(255, 236, 247, 0.47);
}
#canvas {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    margin: auto;
    width: 60%;
    min-width: 650px;
}
#canvas > div {
    border: 5px solid white;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    box-shadow: 1px 1px 1px 1px rgba(69, 59, 53, 0.45);
}
.imgproject {
    width: 280px;
    height: 170px;
}
#canvas > div {
    width: 300px;
}
#canvas > div > div {
    margin: 0 auto;
}
#veganrest .imgproject {
    background: url("vegan-rest.png") no-repeat;
    background-size: 100% 100%;
}
#crabgame .imgproject {
    background: url("crab-game.png") no-repeat;
    background-size: 100% 100%;
}
footer {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    padding-top: 20px;
}
footer ul {
    list-style-type: none;
    padding: 0;
}
footer ul li {
    display: inline;
    padding: 10px;
}
footer > div > ul > li > a {
    border-radius: 0 !important;
    border: 1px solid #f5f2e3 !important;
    background-color: #453b35 !important;
}
#about {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-around;
}
@media screen and (max-width: 768px) {
    header > .header-me {
        flex-direction: column;
    }
    .header-me > div:first-child {
        order: 1;
    }
    #myPhoto {
        width: 95%;
        max-width: 400px;
        margin-bottom: unset;
        margin-top: unset;

    }
    #name {
        height: 100px;
        width: 100%;
        text-align: center;
        margin: auto;
        font-size: 30px !important;
    }
    header > nav {
        margin: auto;
        order: 2;
    }
    ul.navbar-right {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        margin: 0 0 10px 0;
    }
    #canvas {
        flex-direction: column;
        width: 90%;
        min-width: 300px;
    }
    #canvas > div {
        margin: auto;
    }
    #about {
        flex-direction: column;
        width: 90%;
        max-width: 400px;
        margin: auto;
    }
    .navbar-right {
        font-size: 20px;
    }
}
