body {
    background-color: #f5f5f5;
    width: 100vw;
}
.navbar.navbar-default {
    border-radius: 0;
    border: none;
    background-color: white;
}
.navbar-right {
    margin-right: 30px;
}
.navbar-right li {
    padding: 6px;
}
.navbar-right li a * {
    color: white;
}
#head {
    height: 70px;
    background-color: #aab5f1;
    font-size: xx-large;
    padding-top: 12px;
}
#head p {
    position: absolute;
    left: 50%;
}
#myPhoto {
    position: absolute;
    width: 200px;
    height: 143px;
    right: 60%;
    top: -35px;
    border-radius: 50px;
    z-index: 10;
    /*box-shadow: 1px 1px 10px 5px #f5f5f5;*/
    border: 2px solid #f5f5f5;
}
#canvas {
    margin: auto;
    background-color: #6e8af5;
    width: 60%;
    height: 200px;
    min-width: 650px;
}
@media screen and (min-width: 769px) {

}
@media screen and (max-width: 768px) {
    .nav.navbar-nav {
        width: 100%;
    }
    #canvas {
        width: 90%;
        min-width: 300px;
    }
}