body {
    /*background-image: url("../photos/light-noise-min.png") !important;*/
    background-color: #f9f8f4;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* HEADER *
header {
    border-bottom: 1px solid #A09A90;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}*/

#header {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 100px;
    border-bottom: 1px solid #A09A90;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 30px;
}
#header > * {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}
.photo {
    width: 180px;
    height: 180px;
    background: url("../photos/me_.png") no-repeat;
    background-size: contain;
    border-radius: 150px;
    display: flex;
    display: -webkit-flex;
    align-self: center;
    justify-content: center;
}

/* MAIN */
main {
    flex: 1;
}

/* FOOTER */
footer {
    border-top: 1px solid #A09A90;
    padding: 15px 0 15px 0;
    background-color: #423c32;
    color: rgba(249, 248, 244, 0.59);
}
footer ul {
    list-style-type: none;
    padding: 0;
}
footer ul.contacts li {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer ul li a {
    border-radius: 0 !important;
    background-color: transparent !important;
    border-color: transparent !important;
    color: #f9f8f4 !important;
}

/* NAME */
.name a, .name a:hover:link:visited {
    color: #51493d;
    text-decoration: none !important;
    font-size: 40px;
}

#home {
    padding: 50px;
    border-top: 1px solid #A09A90;
}

#myprojects {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;
}
#myprojects > div {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    /*width: 30%;*/
    max-width: 400px;
    width: 90%;
    margin: 15px;
}

/* PHOTOS TO PROJECTS */
.imgproject > div {
    height: 230px;
    background-color: rgba(15, 22, 38, 0.47);
    color: white;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
}

.imgproject:hover > div {
    background-color: transparent;
}
.imgproject:hover > div h3 {
    visibility: hidden;
}

/* ABOUT */
.work, .education, .skills {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    min-width: 300px;
    max-width: 800px;
}
.work > h3, .education > h3, .skills > h3 {
    text-align: center;
}
.about_block_info {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
}
.info_description {
    order: 1;
}
.info_description {
    width: 60%;
    padding: 10px;
}
.info_description p {
    font-size: 20px;
}
.info_description div {
    font-size: 23px;
}
.info_date {
    text-align: center;
    margin-top: 13px;
    font-size: medium;
    width: 40%;
}
.info_date > div {
    border: 1px solid #d2cabd;
    background-color: white;
    padding: 10px;
    width: 70%;
    margin: auto;
}
.btn-default {
    border-radius: 0;
    border-color: #d2cabd;
}
.skills > div {
    border: 1px solid #d2cabd;
    background-color: white;
}
.skill-block {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    font-size: 15px;
}
.technical, .languages {
    padding: 30px;
}
.technical > h4, .languages > h4 {
    text-align: center;
}

.technical > div, .languages > div {
    background-color: white;
}
.skill-block {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 7px;
}
.skillname {
    width: 40%;
    text-align: right;
    padding-right: 15px;
}
.allskills {
    width: 60%;
}