body {
    background-image: url("../photos/light-noise-min.png") !important;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* HEADER */
header {
    border-bottom: 1px solid #0f1626;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* MAIN */
main {
    flex: 1;
}

/* FOOTER */
footer {
    border-top: 1px solid #0f1626;
    padding: 15px 0 15px 0;
}
footer > ul {
    list-style-type: none;
    padding: 0;
}
footer > ul > li {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#myprojects {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
}
#myprojects > div {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    width: 30%;
    max-width: 350px;
}

/* PHOTOS TO PROJECTS */
.imgproject > div {
    height: 230px;
    background-color: rgba(15, 22, 38, 0.51);
    color: white;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
}

.imgproject:hover > div {
    background-color: transparent;
}
.imgproject:hover > div h3 {
    visibility: hidden;
}

/* NAME */
.name a, .name a:hover:link:visited {
    color: #0f1626;
    text-decoration: none !important;
}

/* ABOUT ME */
/* personal info */
#personal {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}
.personal-education {
    order: 2;
}

.personal-education > div {
    margin-bottom: 20px;
}

.info_block {
    max-width: 600px;
    width: 90%;
    margin: auto;
    padding: 20px;
    border-left: 5px solid rgba(0, 128, 0, 0.49);
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-around;
}
.info {
    width: 70%;
}
.date {
    width: 30%;
    padding-top: 10px;
}

/* skills info */
#skills > div {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.technical, .languages {
    width: 40%;
    padding: 30px;
    min-width: 500px;
    min-height: 220px;
    margin: auto;
    border-left: 5px solid rgba(0, 128, 0, 0.49);

}
.technical-skills {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: space-between;
}

.technical-skills-type {
    width: 40%;
    text-align: right;
    margin-right: 30px;
}

.technical-skills-bytype {
    width: 60%;
}
/*

section {
    min-height: 430px;
}
footer > div {
    margin: auto;
}
footer ul {
    list-style-type: none;
    padding: 0;
}
footer ul li {
    display: inline;
    padding: 10px;
}
footer > div > ul > li > a {
    border-radius: 0 !important;
    background-color: #0f1626 !important;
}

//TODO _____
.imgproject > div {
    width: 100%;
    height: 100%;
    background-color: rgba(15, 22, 38, 0.5);
    color: white;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Lobster;
}
.imgproject:hover > div {
    background-color: transparent;
}
.imgproject:hover > div h3 {
    visibility: hidden;
}
#veganrest .imgproject {
    background: url("photos/vegan-rest.png");
    background-size: 100% 100%;
}
#crabgame .imgproject {
    background: url("photos/crab-game.png") no-repeat;
    background-size: 100% 100%;
}
#sudokugame .imgproject {
    background: url("photos/sudoku-game.png") no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
}
#about {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}
#about h4, #about h3 {
    font-family: Lobster;
    text-align: center;
}
#znalosti {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    order: 1;
    width: 70%;
    min-width: 740px;
    margin: auto;
}
#znalosti > div {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    text-align: center;
}
#znalosti > div > div {
    width: 50%;
    padding: 6px;
}
#osobni table tr td {
    vertical-align: middle;
    border: unset;
}
#osobni table tr td a, #osobni table tr td a:hover:link:visited {
    color: #0f1626;
    text-decoration: none;
}
#osobni table tr td:first-child {
    text-align: right;
}
#osobni {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
}
#osobni > div {
    width: 50%;
}
#osobni-info img {
    height: 200px;
}
#osobni-educ > div {
    margin: auto;
}
#table-img {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}
#table-img > * {
    width: 50%;
    margin: auto;
}
#about h3 {
    width: 100%;
    color: #7f7f7f;
    text-shadow: 1px 0 rgba(0, 0, 0, 0.35);
}
.block {
    font-size: 17px;
    font-weight: 600;
}
.block > div p {
    display: inline-block;
    background-color: white;
    border: 1px solid #c9c9c9;
    padding: 9px;
}
#about button {
    border-radius: 0;
}
@media screen and (min-width: 769px) {
    header {
        height: 120px;
    }
    header > * {
        height: 100%;
    }
    ul.navbar-nav {
        justify-content: flex-end;
        font-size: 17px;
    }
    #name {
        font-size: 50px !important;
    }
    #myprojects > div {
        width: 30%;
        max-width: 330px;
    }
    .imgproject {
        width: 100%;
        height: 200px;
        cursor: pointer;
    }
}
@media screen and (max-width: 880px) {

    #osobni {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #osobni-info {
        width: 70%;
        min-width: 575px;
    }
    #name {
        font-size: 40px !important;
    }
    #osobni-educ {
        width: 90% !important;
    }
    #znalosti {
        min-width: 100%;
    }
}
@media screen and (max-width: 768px) {
    header {
        flex-direction: column !important;
    }
    header nav {
        width: 80%;
        height: 30px;
    }
    header nav ul {
        padding: 10px;
        display: flex;
        display: -webkit-flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    #name {
        width: 100%;
        text-align: center;
        margin: auto;
        font-size: 30px !important;
        padding: 15px;
    }
    nav {
        margin: auto;
        order: 2;
    }
    ul.navbar-nav {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        font-size: 16px;
    }
    #myprojects {
        flex-direction: column;
        width: 90%;
        min-width: 300px;
    }
    #myprojects > div {
        margin: auto;
    }
    .imgproject {
        width: 100%;
        height: 180px;
    }
    #myprojects > div {
        width: 300px;
    }
    #osobni {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #osobni > div {
        width: 90%;
    }
    #osobni-info, #osobni-info > div {
        width: 80%;
        min-width: 300px;
    }
    #osobni-educ > div {
        width: 80%;
        min-width: 300px;
    }
    #znalosti > div {
        flex-direction: column;
        text-align: center;
    }
    .block {
        margin: auto;
        width: 100% !important;
    }
    #about {
        flex-direction: column;
    }
    #about > div {
        width: 100%;
    }
    #crabgame, #sudokugame {
        margin-top: 10px !important;
    }
    #myprojects > div {
        width: 300px;
        margin: auto;
    }
    .imgproject {
        width: 300px;
        height: 210px;
    }
}
@media screen and (max-width: 590px) {
    #about {
        width: 100%;
    }
    #table-img {
        flex-direction: column;
        width: 80% !important;
        margin: auto;
        text-align: center;
    }
    #table-img table {
        order: 1;
        width: 100%;
        margin: auto;
        text-align: center;
    }
    #table-img > * {
        width: 100%;
    }
    #myprojects > div {
         width: 210px;
     }
    .imgproject {
        width: 210px;
        height: 140px;
    }
}*/